@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.app {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.searchBtn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchBtn:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Dodaje odstępy między kartami */
}

.city-card {
    background-color: #e7f1ff;
    border-radius: 8px;
    padding: 15px;
    flex: 1 1 calc(30% - 20px);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.city-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.empty {
    text-align: center;
    margin-top: 20px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.updated-city-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #333;
    transition: background-color 0.3s;
    text-align: center;
}

.info-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 0 30%; /* Responsive design */
    text-align: center;
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

.city-name {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.coord, .temp, .weather {
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
}